<ion-content class="card-background-page bgall">
  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col center text-center>
        <h1 class="title-logo">Sentence<strong>App</strong></h1>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-card (click)="sentFunc('1')" tappable>
        <img src="assets/imgs/cards/1.jpg"/>
        <div class="card-title">Presente</div>
        <div class="card-subtitle">Simple</div>
      </ion-card>

      <ion-card (click)="sentFunc('2')" tappable>
        <img src="assets/imgs/cards/2.jpg"/>
        <div class="card-title">Pasado</div>
        <div class="card-subtitle">Simple</div>
      </ion-card>

      <ion-card (click)="sentFunc('3')" tappable>
        <img src="assets/imgs/cards/8.jpg"/>
        <div class="card-title">Futuro</div>
        <div class="card-subtitle">Simple</div>
      </ion-card>

      <ion-card (click)="sentFunc('4')" tappable>
        <img src="assets/imgs/cards/4.jpg"/>
        <div class="card-title">Presente</div>
        <div class="card-subtitle">Continuo</div>
      </ion-card>

      <ion-card (click)="sentFunc('5')" tappable>
        <img src="assets/imgs/cards/5.jpg"/>
        <div class="card-title">Pasado</div>
        <div class="card-subtitle">Continuo</div>
      </ion-card>

      <ion-card (click)="sentFunc('6')" tappable>
        <img src="assets/imgs/cards/6.jpg"/>
        <div class="card-title">Presente</div>
        <div class="card-subtitle">Perfecto</div>
      </ion-card>

      <ion-card (click)="sentFunc('7')" tappable>
        <img src="assets/imgs/cards/7.jpg"/>
        <div class="card-title">Pasado</div>
        <div class="card-subtitle">Perfecto</div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
