page-home {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        $key: random( length($colors) );
        $nth: nth( $colors, $key );

        $main-color: $nth !default;
        background-image: linear-gradient(to bottom right, #00bf8d, #7D2CEE);
        opacity: .6;
      }
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .title-logo{
      font-weight: lighter;
      background: -webkit-linear-gradient(left top, #5b5859, #00dbb7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
    }
  }
}
