<ion-content padding>
	<ion-grid style="">
    <ion-row>
      <ion-col center text-center>
        <h1 class="title-logo">Sentence<strong>App</strong></h1>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <br>
    <br>
    <ion-row>
        <ion-col>
            <br>
            <h2 text-center class="c-text-p">{{tiSent}}</h2>
            <p text-center class="c-text-s">{{stiSent}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
         <ion-col>
            <ion-item>
                <br>
              <ion-label>Verbos</ion-label>
              <ion-select (ionChange)="setVerb(sVerb)"[(ngModel)]="sVerb">
                <ion-option [value]="sVerb" *ngFor="let sVerb of verbs">{{sVerb.name}} </ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <br>
              <ion-label>Complementos</ion-label>
              <ion-select (ionChange)="setSentence(sComp)"[(ngModel)]="sComp">
                <ion-option [value]="sComp" *ngFor="let sComp of complements">{{sComp.name}} </ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <br>
            <h2 text-center class="c-text-p">Frases generadas</h2>
            <h2 text-center class="c-text-f">{{sAfirm}}</h2>
            <h2 text-center class="c-text-f">{{sNegat}}</h2>
            <h2 text-center class="c-text-f">{{sInte}}</h2>
        </ion-col>
    </ion-row>
    <ion-row>
        <button ion-button block outline color="dark" (click)="goBack()">Regresar</button>
    </ion-row>
  </ion-grid>
</ion-content>
