page-sentence {
	.title-logo{
      font-weight: lighter;
      background: -webkit-linear-gradient(left top, #5b5859, #00dbb7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
    }
}
